%script{ :src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.min.js" }
%script{ :src => "http://cdnjs.cloudflare.com/ajax/libs/fastclick/0.6.10/fastclick.min.js" }
%script{ :src => "http://eightmedia.github.io/hammer.js/dist/jquery.hammer.js" }

.wrapper
  
  #sidebar.scrolling
    %ul
      %li
        %a logo
      %li
        %a Course Overview
      %li
        %a Course Materials
      %li
        %a Checkpoints
      %li
        %a Manage Groups
      %hr
    %ul#utility-nav
      %hr
      %li#button-lg
        %a Forums
      %li#setting-lg
        %a Settings
  #swipe.scrolling
    #swipeme
      #sm-top-nav
        #logo
        #overview
        #materials
        #checkpoints
        #groups
      #sm-chat-nav
        %ul
          %li
            %a
                %img
                %span
                %span
         
      #sm-util-nav
        #button
        #settings
    .content
        